<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- HANDSONTABLE CSS -->
    <link href="https://cdn.jsdelivr.net/npm/handsontable@7.4.2/dist/handsontable.full.min.css" rel="stylesheet" media="screen">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="../public/styles/release.css">
    
    
    <title>Release Pro: Release</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Release Pro</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <button type="button" class="btn my-2 my-sm-0" id="log-out-btn">Log out</button>
        </div>
    </nav>
<!-- Release Page Nav -->
    <div class="box1">
        <div class="container">
            <ul class="nav nav-pills mb-4" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="releases-tab" data-toggle="pill" href="#releases" role="tab" aria-controls="releases" aria-selected="true">Releases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="featuresowner-tab" data-toggle="pill" href="#featuresowner" role="tab" aria-controls="featuresowner" aria-selected="false">Features Owner Doc</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="calendar-tab" data-toggle="pill" href="#calendar" role="tab" aria-controls="calendar" aria-selected="false">Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="pill" href="#profile" role="tab" aria-controls="calendar" aria-selected="false">Profile</a>
                </li>
                <button id="release-btn" type="button" class="btn my-2 my-sm-0">Add New Release</button>
            </ul>
            <hr>
            <!-- Content for Nav Pills -->
            <div class="tab-content" id="pills-tabContent">
                <!-- Release Pill Content -->
                <div class="tab-pane fade show active" id="releases" role="tabpanel" aria-labelledby="releases-tab">
                    <div class="row row-cols-1 row-cols-md-2">
                        <div class="col mb-4">
                            <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" id="os">Current iOS Release</h5>
                                    <p class="card-text" id="type">Alpha/Beta/Production</p>
                                    <p class="card-text" id="os">iOS/Android</p>
                                    <p class="card-text" id="version">1.1.1395</p>
                                    <p class="card-text" id="manager">Release Manager</p>
                                    <p class="card-text" id="experiments">Experiments</p>
                                    <p class="card-text" id="notes">Notes</p>
                                    <p class="card-text" id="incidents">Incidents</p>
                                    <p class="card-text" id="postmortem">Post Mortem</p>
                                    <button id="edit-release-btn" type="button" class="btn my-2 my-sm-0">Edit Release</button>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Current Android Release</h5>
                                    <p class="card-text" id="type">Alpha/Beta/Production</p>
                                    <p class="card-text" id="os">iOS/Android</p>
                                    <p class="card-text" id="version">1.1.1395</p>
                                    <p class="card-text" id="manager">Release Manager</p>
                                    <p class="card-text" id="experiments">Experiments</p>
                                    <p class="card-text" id="notes">Notes</p>
                                    <p class="card-text" id="incidents">Incidents</p>
                                    <p class="card-text" id="postmortem">Post Mortem</p>
                                    <button id="edit-release-btn" type="button" class="btn my-2 my-sm-0">Edit Release</button>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">iOS Release</h5>
                                    <p class="card-text" id="type"></p>
                                    <p class="card-text" id="os"></p>
                                    <p class="card-text" id="version"></p>
                                    <p class="card-text" id="manager"></p>
                                    <p class="card-text" id="experiments"></p>
                                    <p class="card-text" id="notes"></p>
                                    <p class="card-text" id="incidents"></p>
                                    <p class="card-text" id="postmortem"></p>
                                    <button id="edit-release-btn" type="button" class="btn my-2 my-sm-0">Edit Release</button>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Android Release</h5>
                                    <p class="card-text" id="type"></p>
                                    <p class="card-text" id="os"></p>
                                    <p class="card-text" id="version"></p>
                                    <p class="card-text" id="manager"></p>
                                    <p class="card-text" id="experiments"></p>
                                    <p class="card-text" id="notes"></p>
                                    <p class="card-text" id="incidents"></p>
                                    <p class="card-text" id="postmortem"></p>
                                    <button id="edit-release-btn" type="button" class="btn my-2 my-sm-0">Edit Release</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Features Owner Doc Pill Content -->
                <div class="tab-pane fade" id="featuresowner" role="tabpanel" aria-labelledby="featuresowner-tab">
                    <div id="example1" class="hot"></div>
                </div>
                <!-- Calendar Pill Content -->
                <div class="tab-pane fade" id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
                    <div class="calendar">
                        <h2>COMING SOON</h2>
                    </div>
                </div>
                <!-- Profile Pill Content -->
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="profile">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                                    <div class="profile-info">
                                        <div class="col-sm-12">
                                            <div class="col-xs-12 col-sm-8">
                                                <h2 id="name">firstName lastName</h2>
                                                <p id="email">email</p><p id="slack">slackHandle</p>
                                                <p id="role">role</p>
                                                <p>Projects I work on:
                                                    <span id="projects">project</span> 
                                                </p>
                                            </div>             
                                            <div class="col-xs-12 col-sm-4 text-center">
                                            </div>
                                        </div>            
                                    </div>                 
                                </div>
                                <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6 col-centered">
                                    <div class="circle-profile" href="https://www.freepik.com/free-photos-vectors/hand"></div>
                                    <div class="edit-profile">
                                        <button id="edit-btn" type="button" class="btn my-2 my-sm-0">Edit Profile</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>

    
    <!-- BOOTSTRAP JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- HANDSONTABLE JS -->
    <script src="https://cdn.jsdelivr.net/npm/handsontable@7.4.2/dist/handsontable.full.min.js"></script>
    <!-- CUSTOM JS -->
    <script src="../public/scripts/release.js"></script>
</body>
</html>