@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

/* -------- Navbar Styling -------- */
#login-btn {
    color: #ffffff;
    background-color: #796eff;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}

.modal-body {
    /* display: flex; */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.signup {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.signup-link {
    color: #796eff;
}

.md-form:focus {
    border-color: #796eff;
    box-shadow: 0 0 0 0.1rem #796eff;
}

/* -------- Body Styling -------- */
h1 {
    font-family: 'PT Sans', sans-serif;
}

.why {
    margin: 3vh 3vw;
    padding: 30px;
}

#signup-btn {
    color: #ffffff;
    background-color: #796eff;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}

.modal-notify .modal-header {
    border-radius: 3px 3px 0 0;
}
.modal-notify .modal-content {
    border-radius: 3px;
}

.box1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.8)), url('../images/computer-device-earphones-electronics-583842.jpg');
    width: 100vw;
    height: 100vh;
    font-family: 'PT Sans', sans-serif;
}

.box2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.8)), url('../images/chairs-device-electronics-eyeglasses-1181376.jpg');
    width: 100vw;
    height: 100vh;
    font-family: 'PT Sans', sans-serif;
}

#text2 {
    padding-top: 3%;
}

.image2 {
    max-width: 100%;
    margin-left: auto;
    background-repeat: no-repeat;
}

.box3 {
    width: 100vw;
    height: 100vh;
    font-family: 'PT Sans', sans-serif;
}

#text3 {
    padding-left: 3%;
}

.image3 {
    max-width: 100%;
    margin-left: auto;
    background-repeat: no-repeat;
    color: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.8));
}

.box4 {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f8f9fa;
    width: 100vw;
    height: 100vh;
    font-family: 'PT Sans', sans-serif;
}

.box5 {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    font-family: 'PT Sans', sans-serif;
}

.content {
    margin: 20vh 0;
    padding: 30px;
}

.title {
    padding-top: 30vh;
}