@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

/* -------- NAVBAR STYLING-------- */
#logout {
    color: #796eff;
    background-color: none;
    border: none;
    cursor: pointer;
}

/* -------- BODY STYLING-------- */
.box1 {
    padding-top: 35px;
    background-color: #f8f9fa;
}

.nav-pills .nav-link {
    background-color: #f8f9fa;
    color: #796eff;
    border-radius: 0%;
    cursor: pointer;
}

.nav-pills .nav-link.active {
    background-color: #f8f9fa;
    color: #796eff;
    border-bottom: #796eff 3px solid;
    cursor: pointer;
}

#release-btn {
    color: #ffffff;
    background-color: #796eff;
    border: none;
    cursor: pointer;
    margin-left: auto;
}

hr {
    border: 1px solid lightgray;
}

/* -------- RELEASE STYLING -------- */
#edit-release-btn {
    color: #796eff;
    background-color: none;
    border: none;
    cursor: pointer;
}

.card {
    border: 1px solid #796eff;
}

/* -------- FEATURES OWNER DOC STYLING -------- */
#featuresowner {
    height: 85vh;
    width: 100vw;
}

.hot {
    height: 70vh;
    width: 100vw;
}

/* -------- CALENDAR STYLING -------- */
.calendar {
    height: 95vh;
}

h2 {
    font-size: 600%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.stroke {
    color: #ffffff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #796eff
}

/* -------- PROFILE STYLING -------- */
.col-centered {
    float: none;
    margin: 0 auto;
}

.circle-profile{
    width: 200px;
    height: 200px;
    background-image: url('../images/Screen\ Shot\ 2020-03-10\ at\ 8.02.24\ PM.png');
    background-size: cover;
    display: block;
    border:3px solid #796eff;
    border-radius: 100px;
}

#edit-btn {
    color: #796eff;
    background-color: none;
    border: none;
    cursor: pointer;
}